<% provide(:title, "Elevate") %>
<h1>Confidential Records</h1>
<p>
  To access your confidential records we need to re-authenticate you using your mobile
</p>
<%= button_to "BUTTON: link version", identity_signinl3_path, :method => "get" %>