<h1>Valid B2C User</h1>
<DIV>
<%= link_to "<<CLICK HERE>> to add a service hint for this object id ["+@rp_objectid+"]", controller: "servicehints", action: "add", objectid: @rp_objectid %>
</DIV>

<%= @b2c_email_results %>



