<footer class="footer">
  <small>
    J.Sutcliffe
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
       <li><%= link_to "Admin", login_path %></li>
       <li><%= link_to "B2C Test Site", external_url_builder.B2C_url %></li>
    </ul>
  </nav>
</footer>